/*  your css code here. If applicable */
*{
	padding:0px;
	margin:0px;
}
.book-library{
	background-color:white;
	width:400px;
	text-align:center;
	
}
h1{
	background-colo:rgb(241,241,241);
	margin:0px 0px 10px;
	}
img{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.books{
	background-color:rgb(46, 204, 113);
	color:rgb(255, 255, 255);
}
.books>button{
	width:100%;
	background-color:rgb(46, 204, 113);
	border-radius:3px;
	border:none;
	padding:3px;
}
.book{
	
	text-align:left;
	background-color:rgb(241,241,241);
	padding:10px;
}